{% extends 'base.html' %}
{% block title %}Preview File Teks{% endblock %}
{% block content %}
<h2>Preview File: {{ file_info.name }}</h2>
<ul class="list-group mb-3">
  <li class="list-group-item">Tipe: {{ file_info.type }}</li>
  <li class="list-group-item">Ukuran: {{ file_info.size }} bytes</li>
  <li class="list-group-item">Modifikasi: {{ file_info.mtime|datetimeformat }}</li>
</ul>
<pre class="bg-light p-3" style="max-height:400px; overflow:auto;">{{ content }}</pre>
<a href="/{{ current_path|replace('\\', '/')|rsplit('/', 1)[0] }}" class="btn btn-secondary">Kembali</a>
{% endblock %} 