{% extends 'base.html' %}
{% block title %}Rename{% endblock %}
{% block content %}
<h2>Rename: {{ filename }}</h2>
<form method="post">
  <div class="mb-3">
    <label for="new_name" class="form-label">Nama Baru</label>
    <input class="form-control" type="text" id="new_name" name="new_name" required value="{{ filename }}">
  </div>
  <button type="submit" class="btn btn-warning">Rename</button>
  <a href="/{{ current_path|replace('\\', '/')|rsplit('/', 1)[0] }}" class="btn btn-secondary">Kembali</a>
</form>
{% endblock %} 